
.activity-table-container {
  padding: 10px 0;
}
.table-footer {
  overflow: hidden;
}

.activity-table {
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
}
.table-row {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid white;
  gap: 20px;
}

.table-header {
  background-color: white;
  font-weight: 600;
  padding: 15px 20px;
  border-bottom: 2px solid white;
  grid-template-columns: 1fr 2fr 1fr 80px 80px;
}

.col-date {
  flex: 1;
  min-width: 100px;
}
.col-activity {
  flex: 2;
  min-width: 200px;
}
.col-type {
  flex: 2;
  min-width: 200px;
}
.col-duration {
  flex: 1;
  min-width: 100px;
}
.col-score {
  flex: 0 0 80px;
}
.col-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  flex: 0 0 120px;
  text-align: right;
}

.pagination-controls button {
  background-color: white;
  border: 1px solid white;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: grab;
  border-radius: 4px;
}

.pagination-text {
  font-size: 1em;
  font-weight: 700;
  color: #69dec4;
}
